Description=mrps frontend
After=network.target multi-user.target

[Service]
User=mrps

WorkingDirectory=/home/mrps/prod/mrpsf
ExecStart=node index.cjs
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mrpsf

[Install]
WantedBy=multi-user.target
